In [10]:
import pandas as pd
import seaborn as sns

In [9]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [14]:
sns.load_dataset('iris')

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [19]:
df=sns.load_dataset('diamonds')
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
39237   0.51  Very Good     I     SI1   62.5   58.0   1068  5.05  5.12  3.18
39238   0.51  Very Good     I     SI1   63.5   55.0   1068  5.07  5.11  3.23
39239   0.50  Very Good     F     SI2   61.4   61.0   1068  5.09  5.14  3.14
39240   0.50  Very Good     H     SI1   62.9   58.0   1068  5.01  5.04  3.16
39241   0.42      Ideal     H    VVS1   62.4   55.0   1068  4.79  4.00   NaN

[39242 rows x 10 columns]

In [21]:
type(df)

pandas.core.frame.DataFrame

In [23]:
df['color']

0        E
1        E
2        E
3        I
4        J
        ..
39237    I
39238    I
39239    F
39240    H
39241    H
Name: color, Length: 39242, dtype: category
Categories (7, object): ['D', 'E', 'F', 'G', 'H', 'I', 'J']

In [39]:
df['color'].unique()

['E', 'I', 'J', 'H', 'F', 'G', 'D']
Categories (7, object): ['D', 'E', 'F', 'G', 'H', 'I', 'J']

In [35]:
df['cut']

0            Ideal
1          Premium
2             Good
3          Premium
4             Good
           ...
39237    Very Good
39238    Very Good
39239    Very Good
39240    Very Good
39241        Ideal
Name: cut, Length: 39242, dtype: category
Categories (5, object): ['Ideal', 'Premium', 'Very Good', 'Good', 'Fair']

In [37]:
df['cut'].unique()

['Ideal', 'Premium', 'Good', 'Very Good', 'Fair']
Categories (5, object): ['Ideal', 'Premium', 'Very Good', 'Good', 'Fair']

In [41]:
df['cut'].value_counts()

cut
Ideal        15093
Premium      10698
Very Good     8797
Good          3541
Fair          1113
Name: count, dtype: int64

In [43]:
10698*15093

161464914

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39242 entries, 0 to 39241
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    39242 non-null  float64
 1   cut      39242 non-null  category
 2   color    39242 non-null  category
 3   clarity  39242 non-null  category
 4   depth    39242 non-null  float64
 5   table    39242 non-null  float64
 6   price    39242 non-null  int64
 7   x        39242 non-null  float64
 8   y        39242 non-null  float64
 9   z        39241 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 2.2 MB

In [59]:
df.iloc[3:10,4:10]

   depth  table  price     x     y     z
3   62.4   58.0    334  4.20  4.23  2.63
4   63.3   58.0    335  4.34  4.35  2.75
5   62.8   57.0    336  3.94  3.96  2.48
6   62.3   57.0    336  3.95  3.98  2.47
7   61.9   55.0    337  4.07  4.11  2.53
8   65.1   61.0    337  3.87  3.78  2.49
9   59.4   61.0    338  4.00  4.05  2.39

In [63]:
df.loc[2:10,['price','x','table']]

    price     x  table
2     327  4.05   65.0
3     334  4.20   58.0
4     335  4.34   58.0
5     336  3.94   57.0
6     336  3.95   57.0
7     337  4.07   55.0
8     337  3.87   61.0
9     338  4.00   61.0
10    339  4.25   55.0

In [73]:
df[df['price']=='table']

Empty DataFrame
Columns: [carat, cut, color, clarity, depth, table, price, x, y, z]
Index: []

In [49]:
import numpy as np

In [57]:
a=pd.Series(['India','2',4,5,6,7,8])
a

0    India
1        2
2        4
3        5
4        6
5        7
6        8
dtype: object

In [67]:
a=np.random.randint(10,40,55)
a

array([34, 18, 32, 18, 17, 25, 37, 13, 20, 31, 16, 33, 25, 21, 16, 14, 18,
       13, 32, 15, 23, 14, 10, 37, 23, 35, 32, 39, 13, 39, 35, 37, 36, 32,
       10, 37, 39, 37, 17, 18, 30, 31, 11, 31, 38, 16, 12, 29, 16, 17, 21,
       13, 27, 20, 39])

In [69]:
a[a>35]

array([37, 37, 39, 39, 37, 36, 37, 39, 37, 38, 39])